<?xml version="1.0"?>
<launch>
    <arg name="isVehicle" default="false"/>
    <arg name="isOperator" default="false"/>
    <arg name="vehicleID" default="tum-q7"/>

    <include file="$(find tod_lidar)/launch/tod_lidar_vehicle.launch" if="$(eval isVehicle)">
        <arg name="vehicleID" value="$(arg vehicleID)"/>
    </include>

    <include file="$(find tod_lidar)/launch/tod_lidar_operator.launch" if="$(eval isOperator)">
        <arg name="vehicleID" value="$(arg vehicleID)"/>
    </include>
</launch>
